SUPABASE_URL=ใส่_URL_ของ_Supabase_ของคุณที่นี่
SUPABASE_ANON_KEY=ใส่_Anon_Key_ของ_Supabase_ของคุณที่นี่
ZKTECO_IP=192.168.10.214
ZKTECO_PORT=4370

ZKBIO_HOST=
ZKBIO_PORT=7496
ZKBIO_USER=postgres
ZKBIO_PASS=
ZKBIO_NAME=biotime
